# Python
## Python
### Python
#### Python
##### Python
###### Python

In [6]:
print('Hello world')

Hello world

In [7]:
print("enter your name")
a=input("")
print("the name is",a)

enter your name
Nikhil
the name is Nikhil

In [8]:
x=10
type(x)

int

# Python Introduction
- python 3
- python can be used as a scripting language
- introduced in the year of 1981

## Variables
- variables are also called as identifiers
- doesn't start with any special character except _
- doesn't start with numbers
- variables always start with alphabets

In [9]:
x=10
type(x)

int

In [10]:
x="nikhil"
type(x)

str

In [12]:
x=19977208237
y=21935248786230
x+y

21955225994467

In [13]:
c=2+3j
d=8+2j
type(c+d)

complex

In [14]:
a=12.56
b=1
int(a)
float(b)

1.0

In [15]:
a=12.56
b=1
print("",a)
float(b)

 12.56

1.0

In [16]:
complex(a)

(12.56+0j)

In [18]:
complex(a,b)

(12.56+1j)

In [19]:
a= True
type(a)

bool

In [20]:
# string:
a="Python"
b="p"
print(type(a))
type(b)

<class 'str'>

str

In [21]:
a="100"
print (type(a))
b=int(a)
print(type(b))
c=float(a)
type(c)

<class 'str'>
<class 'int'>

float

In [22]:
a="1234"
len(a)

4

In [23]:
a="Nikhil"
len(a)

6

## Operators
### Arithemetic Operators
#### +,-,//-(floor),**-exponent,power

In [24]:
125/4

31.25

In [25]:
125//4

31

In [26]:
2*3

6

In [27]:
2**3

8

In [28]:
12/6

2.0

## Logical operators
### and,or,not

In [31]:
x=12
y=2
print(x>=5 and y>=5)
print(x>=5 or y>=5)
not x

False
True

False

In [32]:
x=0
y=2
print(x>=5 and y>=5)
print(x>=5 or y>=5)
not x

False
False

True

# relational operators
- <,>,<=,>=,==,!=

In [34]:
x=10
y=12
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

False
True
False
True
False
True

# Membership operator
## in,not in

In [36]:
a="Python"
print("P" in a)
print("e" in a)

True
False

# conditional statements
## if,if else,elif

In [39]:
a=int(input())
if a<10:
        print(a)

11

In [42]:
a=11
if a<10:
    print(a)
else:
        print("error")

error

In [45]:
## to check if number is even or odd:
a=int(input())
if(a%2==0):
    print("even")
else:
    print("odd")

11
odd

In [48]:
## check whether number is divisible by 3 and 5
a=int(input())
if(a%3==0 and a%5==0):
    print("divisible")
else:
    print("no")

15
divisible

In [54]:
## to check whether a number is positive,negative or zero
a=int(input())
if(a>0):
    print("positive")
elif(a<0):
    print("negative")
elif(a==0):
    print('zero')

-9
negative

In [78]:
a=int(input())
if((a%400==0) or ((a%4==0) and (a%100!=0))):
    print(" leap year")
else:
    print("not a leap year")

2020
 leap year

# For loop
## while loop

In [2]:
a=int(input())
while a>20:
    print(a)
    a+=1

2